.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    max-width: 600px;
    height: 100%;
  }
  
  .swiper-pagination-bullet {
    background-color: #4a5568;
  }
  