/* ظرف موج */
.wave-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  overflow: hidden;
  height: 200px;
  z-index: -1; /* برای اطمینان از اینکه زیر متن قرار بگیرد */
}

/* موج */
.wave {
  width: 200%;
  height: 200px;
  animation: waveAnimation 8s linear infinite;
}

/* انیمیشن موج */
@keyframes waveAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* متن ثابت در مرکز امواج */
.text-on-wave {
  display: flex; /* برای فعال‌سازی فلکس‌باکس */
  flex-direction: row; /* متن‌ها کنار هم قرار می‌گیرند */
  justify-content: center; /* تراز افقی متن‌ها */
  align-items: center; /* تراز عمودی متن‌ها */
  gap: 20px; /* فاصله بین متن‌ها */
  height: 100%; /* ارتفاع به اندازه کل فوتر */
  width: 100%; /* عرض به اندازه کل فوتر */
  position: relative; /* موقعیت‌دهی معمولی برای هماهنگی بهتر */
}

.text-on-wave p {
  font-size: 0.9rem;
  color: #e5e5e5;
  font-weight: 500;
  margin: 0;
}
