/* ظرف موج */
.wave-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  overflow: hidden;
  height: 200px;
  display: flex; /* اضافه کردن فلکس باکس برای ترازبندی */
  justify-content: center; /* تراز افقی */
  align-items: center; /* تراز عمودی */
}

/* موج */
.wave {
  width: 200%;
  height: 200px;
  animation: waveAnimation 8s linear infinite;
}

/* انیمیشن موج */
@keyframes waveAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* متن ثابت در مرکز امواج */
.text-on-wave {
  position: absolute;
  top: 50%; /* موقعیت عمودی متن */
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px; /* فاصله بین متن‌ها */
}

.text-on-wave p {
  font-size: 0.9rem;
  color: #e5e5e5;
  font-weight: 500;
  margin: 0;
}
